<div class="bg-danger bg-opacity-75">
	<div class="d-flex justify-content-center">
		<span class="alert alert-light"><%= message %> <img src="/images/icon/question.svg" style="font-size: 20px;"></img></span>
	</div>
	<div class="d-flex justify-content-center mt-5 pt-5">
		<img src="/images/icon/4-square.svg" style="width: 150px;"><img src="/images/icon/0-circle.svg" style="width: 150px;"><img src="/images/icon/4-square.svg" style="width: 150px;">
	</div>
</div>